* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

:root {
  --primary: #FCCA22;
  --secondary: #E7E8EC;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.App {
  height: 100%;
  overflow: hidden;
  visibility: visible;
}

/* Generic
================= */

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

h1 {
  font-weight: 600;
}

button {
  background: none;
  border: none;
}

button:visited,
button:focus {
  outline: none;
}

span {
  color: var(--primary);
}

/* Slick active
================= */

.slick-active button::after {
  background-color: var(--primary) !important;
  width: 15px !important;
  height: 15px !important;
}

/* Footer
================= */

footer {
  width: 100%;
  padding: 20px 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer h6 {
  margin-right: 50px;
  font-weight: 300;
  text-transform: capitalize;
  font-size: .9rem;
}

footer svg {
  opacity: .5;
}

@media(max-width: 800px) {
  footer svg {
    opacity: 0;
  }
}

@media(max-width: 640px) {
  footer {
    padding: 20px 30px;
    margin: 20px;
    justify-content: center;
  }
}

@media(max-width: 510px) {
  footer {
    width: 100%;
    justify-content: center;
    margin: 20px;
  }
}